<div class="default-page">
	<div class="vd_content-section clearfix">
		<div class="row">
			<div class="col-md-6">
				<div class="panel widget vd_pie-chart-widget">
					<div class="panel-heading vd_bg-red">
						<h3 class="panel-title"> <span class="menu-icon"> <i class="glyphicon glyphicon-th-large"></i> </span> Pie Chart </h3>
						<div class="vd_panel-menu">
							<div class=" menu entypo-icon"> <!-- class="icon-cross"></i--><span class="glyphicon glyphicon-remove-sign"></span> </div>
						</div>
					</div>
					<div class="panel-body-list pd-15">
						<div id="pie-chart" class="pie-chart" style="height: 318px; padding: 0px; position: relative;">
							<!-- PIE Chart data goes here with HTML -->
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel widget vd_pie-chart-widget">
					<div class="panel-heading vd_bg-red">
						<h3 class="panel-title"> <span class="menu-icon"> <i class="icon-pie"></i> </span> Pie Chart </h3>
						<div class="vd_panel-menu">
							<div class=" menu entypo-icon"> <!-- class="icon-cross"></i--><span class="glyphicon glyphicon-remove-sign"></span> </div>
						</div>
					</div>
					<div class="panel-body-list pd-15">
						<div id="pie-chart" class="pie-chart" style="height: 318px; padding: 0px; position: relative;">
							<!-- PIE Chart data goes here with HTML -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<!--div class="col-md-6  mgbt-xs-20 mgbt-md-0">
				<div class="panel widget light-widget panel-bd-top">
					<div class="panel-body">
						<div id="calendar" class="mgtp-10 fc fc-ltr">
							<table class="fc-header" style="width:100%">
								<tbody><tr><td class="fc-header-left"><span class="fc-header-title"><h2>March 2017</h2></span></td><td class="fc-header-center"></td><td class="fc-header-right"><span style="-moz-user-select: none;" unselectable="on" class="fc-button fc-button-today fc-state-default fc-corner-left fc-corner-right fc-state-disabled">today</span><span class="fc-header-space"></span><span style="-moz-user-select: none;" unselectable="on" class="fc-button fc-button-prev fc-state-default fc-corner-left"><span class="fc-icon fc-icon-left-single-arrow"></span></span><span style="-moz-user-select: none;" unselectable="on" class="fc-button fc-button-next fc-state-default fc-corner-right"><span class="fc-icon fc-icon-right-single-arrow"></span></span></td></tr></tbody>
							</table>
						</div>
					</div>
				</div>
			</div-->
		</div>
	</div>
</div>

